/*  全局--解决浏览器兼容 */
div,p,ul,ol,li,dl,dt,dd,form,table,h1,h2,h3,h4,h5,h6,input,select,textarea,span,strong,em,b,i,u,a,img,*{padding:0;margin:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
body { font-family: "宋体"; font-size: 12px;  color: #000; background-color: #fff; }
ul,ol,li { list-style: none; }
h1,h2,h3,h4,h5,h6{ font-size: 14px;}
a img{ border: none;}
img,input,textarea,select,option,output,span,a,b,em,i,strong,u,s,button,label{ vertical-align:middle;}
table{border-collapse:collapse;}
a { background: transparent; text-decoration: none; color: #333; }
a:hover{  color: #f90; }
.clear{ clear:both; height: 0; width: 0; overflow: hidden;}
body,html{height: 100%;width: 100%;}

html,body,#app{
    width: 100%;
    height: 100%;
    // background: #eee;
}
#wraper {
	height: 100%;
	background: @bgcolor;
}
.router-link-active{
    color: #f40a12 !important;
}
.home{
    width: 100%;
    height: 100%;
    margin-left: auto;
	margin-right: auto;
}
.container {
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px){
	.container {
		width: 768px; 
	}
    .home {
		width: 768px; 
	}
}
@media (min-width: 990px){
	.container {
		width: 960px; 
	}
    .home {
		width: 960px; 
	}
}
@media (min-width: 1200px){
	.container {
		width: 1140px; 
	}
    .home {
		width: 1140px; 
	}
}
