/
<template>
  <div class="file">
    <div class="left-g">
      <div class="down">归档</div>
    </div>
    <div class="right-g">
      <div class="up"></div>
      <div class="don"></div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: `File`,
}
</script>

<style lang="less">
.file {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 3%;
  background: @bgcolor;
  .left-g {
    width: 70%;
    height: 100%;
    float: left;
    background: @white;
  }
  .right-g {
    width: 25%;
    height: 100%;
    float: right;
    background: @white;
  }
}
</style>
