<template>
  <header class="header">
    <div class="container">
      <div class="left">
        <ul>
          <li><router-link to="/home/article">文章</router-link></li>
          <li><router-link to="/home/file">归档</router-link></li>
          <li><router-link to="/home/knowledge">知识小册</router-link></li>
        </ul>
      </div>
      <div class="right">
        <a-button>中英文</a-button>
        <span>模式切换</span>
        <a-button>搜索</a-button>
        <a-button>登录</a-button>
      </div>
    </div>
  </header>
</template>
<script setup lang="ts"></script>
<style lang="less">
.header {
  height: 64px;
  background: var(--bg-color);
  // background: #fff;
  border-bottom: 1px solid var(--border-color);
  .container {
    height: 100%;
    .display-flex-row-mixin(space-between, center);
    .left {
      width: 20%;
      height: 100%;
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: @bg---color;
        a {
          color: @bg---color;
        }
      }
    }
    .right {
      width: 40%;
      height: 100%;
      .display-flex-row-mixin(space-around,center);
    }
  }
}
</style>
